<!doctype html>
<html>

<body style="background:#999;">
    <table style="border: none; max-width: 600px; margin: 0 auto; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr style="background: #fff;">
                <td>
                    <table style="border: none;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                            <tr style="background-color: #fff;">
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center"><img style="max-width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;" src="cleanline-logo.png" alt="Cleanline" width="200" height="105" /></td>
                            </tr>
                            <tr style="background-color: #fff;">
                                <td>&nbsp;</td>
                            </tr>
                            <tr style="background-color: #fff;">
                                <td>
                                    <div class="editabletemplatebox" style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; color: #000000; padding: 0 30px;">SAR
                                        <%= custom.order_detail.final_price %> Payment (Cash )
                                            <p style="font-size: 14px;">My CleanLine Rewards Points: <span style="color: #09f;"> <%= custom.order_detail.points_earned %></span></p>
                                            <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; margin: 0; padding: 0 0 10px;">Thanks for choosing CleanLine,
                                                <%= custom.user.firstName %>
                                            </p>
                                            <p style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; margin: 0; padding: 0; font-weight: bold;">
                                                <%=  new Date().toLocaleDateString() %>
                                            </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="background-color: #fff;">
                <td>
                    <div class="editabletemplatebox" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; line-height: 17px; padding: 0 30px;">
                        <table style="border: 1px solid #ddd; border-collapse: collapse;" border="1" width="100%" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="left">Order Id:</td>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="left">
                                        <%= custom.order_no %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="left">Delivery Method:</td>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="left">
                                        <%= (custom.deliveryMethod == "1")? "Standard":"Express" %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="left">Pickup:</td>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="left">
                                        <%= new Date(custom.pickup_time).toLocaleDateString() %>
                                            <%= custom.pickUp_address %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="left">Drop Off:</td>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="left">
                                        <%= new Date(custom.delivery_time).toLocaleDateString() %>
                                            <%= custom.dropOff_address %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="left">Other Instructions:</td>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="left">
                                        <%= custom.info %>.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr style="background-color: #fff;">
                <td>&nbsp;</td>
            </tr>
            <tr style="background-color: #fff;">
                <td>
                    <div class="editabletemplatebox" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; line-height: 17px; padding: 0 30px;">
                        <table style="border: 0px solid #ddd; border-collapse: collapse;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr style="background-color: #fff;">
                                    <td>
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="left"><strong>Your Invoice</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.4;" align="left">For any claim please contact us through the live chat feature in the App</td>
                                </tr>
                                <tr style="background-color: #fff;">
                                    <td>&nbsp;</td>
                                </tr>
                                <tr style="background-color: #fff;">
                                    <td>
                                        <table style="border: 1px solid #ddd; border-collapse: collapse;" border="1" width="100%" cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                                <tr style="background-color: #71cdf4;">
                                                    <th style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="center">Service</th>
                                                    <th style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="center">Item</th>
                                                    <th style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="center">Quantity</th>
                                                    <th style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="center">Unit Price (SAR)</th>
                                                    <th style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="center">Subtotal Price (SAR)</th>
                                                </tr>
                                                <% custom.order_detail.data.forEach(function(value) {  
                                                     value.item_details.forEach(function(item){ %>
                                                    <tr>
                                                        <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="left">
                                                            <%= value. category_name %>
                                                        </td>
                                                        <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="left">
                                                            <%= item. item_name %>
                                                        </td>
                                                        <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="left">
                                                            <%= item. count %>
                                                        </td>
                                                        <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="right">
                                                            <%= item. unit_price %>
                                                        </td>
                                                        <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" align="right">
                                                            <%= item. items_price%>
                                                        </td>
                                                    </tr>
                                                    <%})%>
                                                        <% }) %>
                                                            <tr>
                                                                <tr style="background-color: #71cdf4;">
                                                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;" colspan="4" align="left">Total
                                                                        <br />Payment Mode</td>
                                                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;" align="right">SAR
                                                                        <%= custom.order_detail.final_price %>
                                                                            <br />Cash </td>
                                                                </tr>
                                                                <tr style="background-color: #ffffff;">
                                                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" colspan="4" align="left">Points Awarded</td>
                                                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #1bb5e9;" align="right">
                                                                        <%= custom.order_detail.points_earned %>
                                                                    </td>
                                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    </tr>
                                    <tr style="background-color: #fff;">
                                        <td>
                                            <p style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: underline;">To raise dispute in the app, Menu My Orders History Raise Dispute</p>
                                            <hr />
                                        </td>
                                    </tr>
                                    <tr style="background-color: #fff;">
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 0; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="left"><strong>Want FREE Laundry Orders?</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 0; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.4;" align="left">Invite your friends and family to try CleanLine and get FREE laundry worth up to SAR 24.
                                            <p style="padding: 5px 0; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.4;">Share your code: <span style="color: #1bb5e9;"><%= custom.user.referral_code %></span></p>
                                            <p style="padding: 5px 0; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.4; font-style: italic; text-decoration: underline;">To invite friends in the app, Menu FREE Laundry Send Invites</p>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                </tr>
        </tbody>
        <!-- [if(gte mso 9)|(IE)]>
</table>
<![endif]-->
    </table>
    <p>&nbsp;</p>
    <!-- [if(gte mso 9)|(IE)]>
</table>
<![endif]-->
</body>

</html>
