<!doctype html>
<html dir="rtl" lang="ar">

<head>
    <title>Registration</title>
</head>

<body style="background:#999;">
    <table style="border: none; max-width: 600px; margin: 0 auto; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; table-layout: fixed; direction:rtl;" border="0" cellspacing="0" cellpadding="0">
        <!-- [if(gte mso 9)|(IE)]>
        <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
        <![endif]-->
        <tbody>
            <tr style="background: #fff;">
                <td>
                    <table style="border: none;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
                        <!-- [if(gte mso 9)|(IE)]>
                        <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                        <![endif]-->
                        <tbody>
                            <tr style="background-color: #fff;">
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center"><img style="max-width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;" src="http://app.cleanlineapp.com/production/cleanline-logo.png" alt="Cleanline" width="200" height="105" /></td>
                            </tr>
                            <tr style="background-color: #fff;">
                                <td>&nbsp;</td>
                            </tr>
                            <tr style="background-color: #fff;">
                                <td>
                                    <div id="middleContent" class="editabletemplatebox" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; line-height: 17px; padding: 0 30px;">‫ً‬ ‫وسهال‬ ‫ً‬ ‫أهال‬
                                        <%= custom.firstName %>,
                                            <br />
                                            <br /> ‫أدناه‪:‬‬ ‫التفاصيل‬ ‫مراجعة‬ ‫يرجى‬ ‫‪.‬‬ ‫‪CleanLine‬‬ ‫في‬ ‫تسجيلك‬ ‫أكملت‬ ‫لقد‬</div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <!-- [if(gte mso 9)|(IE)]>
                            </table>
                            <![endif]-->
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="background-color: #fff;">
                <td>
                    <div class="editabletemplatebox" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; line-height: 17px; padding: 0 30px;">
                        <table style="border: 1px solid #ddd; border-collapse: collapse;" border="1" width="100%" cellspacing="0" cellpadding="0" align="center">
                            <!-- [if(gte mso 9)|(IE)]>
                            <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                            <![endif]-->
                            <tbody>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right">‫اإلسم‬</td>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="right">
                                        <%= custom.firstName %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right">‫الجوال‬ ‫رقم‬</td>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="right">
                                        <%= custom.countryCode %> <%= custom.mobileNo %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right">‫اإللكتروني‬ ‫البريد‬</td>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="right">
                                        <%= custom.email %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right">‫العنوان‬</td>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="right">
                                        <%= custom.address %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right">‫المرور‬ ‫كلمات‬</td>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="right">‫أحد‬ ‫ألي‬ ‫المرور‬ ‫كلمة‬ ‫عن‬ ‫اإلفصاح‬ ‫بعدم‬ ‫بشدة‬ ‫نوصي‬ ‫نحن‬</td>
                                </tr>
                                <!-- [if(gte mso 9)|(IE)]>
                                </table>
                                <![endif]-->
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr style="background-color: #fff;">
                <td>&nbsp;</td>
            </tr>
            <tr style="background-color: #fff;">
                <td>
                    <div class="editabletemplatebox" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; line-height: 17px; padding: 0 30px;">
                        <table style="border: 0px solid #ddd; border-collapse: collapse;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
                            <!-- [if(gte mso 9)|(IE)]>
                            <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                            <![endif]-->
                            <tbody>
                                <tr style="background-color: #fff;">
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right"><span style="text-decoration: underline;">‫تعديل‬ ‫<‬ ‫‪--‬‬ ‫الشخصي‬ ‫ملفي‬ ‫<‬ ‫‪--‬‬ ‫القائمة‬ ‫التطبيق‪،‬‬ ‫داخل‬ ‫للتعديل‬</span></td>
                                </tr>
                                <tr style="background-color: #fff;">
                                    <td>
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right"><strong>‫واإلسترخاء‬ ‫الجلوس‬ ‫يمكنك‬</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.4;" align="right">Y‫حاجتك‬ ‫إلستالم‬ ‫بابك‬ ‫عتبة‬ ‫عند‬ ‫سيكون‬ ‫الين‬ ‫كلين‬ ‫ممثل‬ ‫‪.‬‬ ‫ة‬ ‫ً‬ ‫راح‬ ‫غسيل‬ ‫تجربة‬ ‫أكثر‬ ‫من‬ ‫نقرة‬ ‫بعد‬ ‫على‬ ‫أنت‬ ‫تامة‪.‬‬ ‫بعناية‬ ‫وغسلها‬ ‫سعيد!‬ ‫غسيل‬</td>
                                </tr>
                                <tr style="background-color: #fff;">
                                    <td>
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right"><strong>‫وألصحابك؟‬ ‫لك‬ ‫مجاني‬ ‫غسيل‬</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.4;" align="left">‫الين‪.‬‬ ‫كلين‬ ‫لتجربة‬ ‫وعائلتك‬ ‫أصحابك‬ ‫دعوة‬ ‫عند‬ ‫‪SAR‬‬ ‫‪42‬‬ ‫إلى‬ ‫قيمته‬ ‫تصل‬ ‫مجاني‬ ‫طلب‬ ‫على‬ ‫إحصل‬ ‫بك‪:‬‬ ‫الخاص‬ ‫الدعوة‬ ‫رمز‬ ‫شارك‬: <span style="color: #1bb5e9;"><%= custom.referral_code %></span> ‫دعوة‬ ‫إرسال‬ ‫
                                        <‬ ‫‪--‬‬ ‫مجانا‬ ‫المالبس‬ ‫غسيل‬ ‫<‬ ‫‪--‬‬ ‫القائمة‬ ‫التطبيق‪،‬‬ ‫داخل‬ ‫من‬ ‫األصحاب‬ ‫لدعوة‬</td>
                                </tr>
                                <tr style="background-color: #fff;">
                                    <td>
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right"><strong>‫الين‬ ‫بكلين‬ ‫إتصل‬</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.4;" align="right">‫والمحترف‪:‬‬ ‫المستعد‬ ‫العمالء‬ ‫خدمة‬ ‫بفريق‬ ‫اإلتصال‬ ‫يرجى‬ ‫والمساعدة‬ ‫للمعلومات‬
                                        <br />
                                        <br />
                                        <table style="border: 1px solid #ddd; border-collapse: collapse;" border="1" width="100%" cellspacing="0" cellpadding="0" align="center">
                                            <!-- [if(gte mso 9)|(IE)]>
                                            <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                                            <![endif]-->
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;  direction:rtl;" align="right">‫المباشرة‬ ‫الدردشة‬ </td>
                                                    <td align="right" style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9; direction:rtl;">‫التطبيق‬ ‫داخل‬ ‫المباشرة‬ ‫الدردشة‬ ‫ميزة‬</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right">‫الجوال‬ ‫رقم‬</td>
                                                    <td align="right" style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9; direction:rtl;">+966 (0) 54 899 2456 <span style="color: #000;">(9:00AM - 12:00AM)</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;" align="right">‫اإللكتروني‬ ‫البريد‬</td>
                                                    <td align="right" style="padding: 5px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1bb5e9;" align="right">support@cleanlineapp.com</td>
                                                </tr>
                                                <!-- [if(gte mso 9)|(IE)]>
                                                </table>
                                                <![endif]-->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- [if(gte mso 9)|(IE)]>
                                </table>
                                <![endif]-->
                            </tbody>
                        </table>
                    </div>
                    </td>
            </tr>
            <tr style="background-color: #fff;">
                <td>&nbsp;</td>
            </tr>
            <!-- [if(gte mso 9)|(IE)]>
                </table>
                <![endif]-->
        </tbody>
    </table>
    <p>&nbsp;</p>
</body>

</html>
